<div class="box noir">    
    <div class="box rouge">
        <div class="box white">  
            <div class="container mobile-menu">
                
                        <nav class="row nav-mobile-menu">                            
                                <a class="nav-mobile-brand col-12" href="/"><img src="img/adflix.png" alt=""></a>
                                <button class="close" type="button"><i class="fas fa-times"></i></button>
                            
                                <div>
                                    <ul class="">
                                    <li class="col-12">
                                            <a class="" href="/">{{content.en.mobileMenu.textMobileMenu1}}</a>
                                        </li>
                                        <li class="col-12">
                                            <a class="" href="/expfirst">{{content.en.mobileMenu.textMobileMenu2}}</a>
                                        </li>
                                        <li class="col-12">
                                                <a class="" href="/creations">{{content.en.mobileMenu.textMobileMenu3}}</a>
                                        </li>
                                        <li class="col-12">
                                                <a class="" href="/projet">{{content.en.mobileMenu.textMobileMenu4}}</a>
                                        </li>
                                        <li class="col-12">
                                            <a class="" href="/contact">{{content.en.mobileMenu.textMobileMenu5}}</a>
                                        </li>
                                        <div class="social-mobile-menu text-center">
                                                <a class="social-mobile-link" href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-adeler-entrepreneur/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                                <a class="social-mobile-link" href="https://twitter.com/AdelerJeremy" target="_blank"><i class="fab fa-twitter"></i></a>
                                                <a class="social-mobile-link" href="https://www.facebook.com/jeremy.adeler.50" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                        </div>
                                    </ul>                                           
                                </div>
                        </nav>   <!-----NAV ROW------>

                </div> <!-----cONTAINER------>     

        </div> <!-----BOX WHITE------>
    </div> <!-----BOX ROUGE------>
</div> <!-----BOX NOIR------>