    <div class="owl-carousel owl-theme posters_carousel">
        <div class="item ">
            <div class="lite_poster">
               <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
               <img src="https://image.tmdb.org/t/p/w500/{{Posters.card1}}" class="poster_content" alt="poster">
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
               <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
               <img src="https://image.tmdb.org/t/p/w500/{{Posters.card2}}" class="poster_content" alt="poster">     
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card3}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card4}}" class="poster_content" alt="poster">       
            </div>
        </div>
        
        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card5}}" class="poster_content" alt="poster">       
            </div>
        </div>
        
        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card6}}" class="poster_content" alt="poster">       
            </div>
        </div>
        
        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card7}}" class="poster_content" alt="poster">       
            </div>
        </div>
        
        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card8}}" class="poster_content" alt="poster">       
            </div>
        </div>
        
        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card9}}" class="poster_content" alt="poster">       
            </div>
        </div>
        
        <div class="item  ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card10}}" class="poster_content" alt="poster">       
            </div>
        </div>
        
        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card11}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card12}}" class="poster_content" alt="poster">       
            </div>
        </div>

         <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card13}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card14}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card15}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card16}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card17}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card18}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card19}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card20}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card21}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card22}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card23}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card24}}" class="poster_content" alt="poster">       
            </div>
        </div>

        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card25}}" class="poster_content" alt="poster">       
            </div>
        </div>
        
        <div class="item ">
            <div class="lite_poster">
                <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                <img src="https://image.tmdb.org/t/p/w500/{{Posters.card26}}" class="poster_content" alt="poster">       
            </div>
        </div>
        
        
        
         
    </div>