{{> header}}
<!-----------------------CENTER--------------------------------->

    <div class="container block_center pb-3">
        <div class="row">

            <div class="col-md-6 col-lg-4 d-none d-md-block hero_min">
                
                <div class="card">
                    <div class="poster">
                        <img src="/img/poster13.jpg" alt="alien affiche">
                    </div>
                    <div class="adflix">
                        <img src="/img/adflixoriginalwhitered.png" alt="adlfix original">
                    </div>
                    <div class="detailsform">
                        <img src="/img/Titre/formDev.png" alt="titre design">
                        <h2><span>Directed by Adeler Jérémy</span></h2>
                        <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>5/5</span>
                        </div>
                        <div class="tags">
                            <span class="fantasyform">Ambitious</span>
                            <span class="romanceform">Modest</span>
                        </div>
                        <div class="info">
                            <ul>
                                <li>HTML / CSS / bootstrap4<span class="time_code">100h</span></li>
                                <hr>
                                <li>Javascript / Git / Débogage<span class="time_code">100h</span></li>
                                <hr>
                                <li>Expressjs / Nodejs<span class="time_code">80h</span></li>
                                <hr>
                                <li>Redux / Reactjs<span class="time_code">100h</span></li>
                                <hr>
                                <li>React Native<span class="time_code">35h</span></li>
                                <hr>
                                <li>Admin CRM(Saleforce)<span class="time_code">20h</span></li>
                                <hr>
                                <li>NoSQL<span class="time_code">30h</span></li>
                                <hr>
                                <li>Projet  <span class="time_code">50h</span></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>

<!----------------------------INFO------------------------------------->

            <div class="col-12 col-md-6 pl-md-4 pl-lg-5 col-lg-8 info">
                <div class="d-md-none">
                    <h3>{{content.en.title}}<sup> DEV</sup></h3>
                    <h4>Directed by Adeler Jérémy</h4>               
                    <p><span class="date">2014 </span> <span class="saison pl-4"> 4 {{content.en.seasons}}</span></p>
                </div>
                    <h3>{{content.en.title2}}</h3>
                            
                    <p><span>{{content.en.technology.titleTechnology1}}</span></p>
                    <ul class="langages">
                        <li>{{content.en.technology.textTechnology1}}</li>
                        <li>{{content.en.technology.textTechnology2}}</li>    
                        <li>{{content.en.technology.textTechnology3}}</li>   
                        <li>{{content.en.technology.textTechnology4}}</li>   
                        <li>{{content.en.technology.textTechnology5}}</li>   
                    </ul>
                    
                    <p><span>{{content.en.details.titleDetails}}</span> {{content.en.details.textDetails}}</p>
                    <p><span>{{content.en.indicatorFigures.titleIndicatorFigures}}</span> {{content.en.indicatorFigures.textIndicatorFigures}}</p>
                    <p><span>{{content.en.organization.titleOrganization}}</span> {{content.en.organization.textOrganization}}</p>  
                    <p><span>{{content.en.theMost.titleTheMost}}</span> {{content.en.theMost.textTheMost}}</p> 
                    <p><span>{{content.en.duration.titleDuration}}</span> {{content.en.duration.textDuration}}</p> 
                    
                    <div class="d-md-none d-lg-block block_3_icons pl-md-2 pl-lg-4 pt-lg-5">             

                        <div class="middle pt-lg-4 pt-page-moveFromRight pt-page-delay200">
                            <a class="btn" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//adelerjeremy.com" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn" href="https://twitter.com/home?status=https%3A//adelerjeremy.com" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/in/j%25C3%25A9r%25C3%25A9my-adeler-entrepreneur/&title=&summary=&source=" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="btn" href="//contact">
                                <i class="fas fa-envelope"></i>
                            </a>
                            </div>
                    </div> 
                </div>
            <div class="col-12">
            <div class="d-none d-md-block  d-lg-none block_md_3_icons px-5 pl-5 pt-md-4 pl-md-2 pl-lg-4">             
                <div class="middle  pt-page-moveFromRight pt-page-delay200">
                    <a class="btn" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//adelerjeremy.com" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn" href="https://twitter.com/home?status=https%3A//adelerjeremy.com" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/in/j%25C3%25A9r%25C3%25A9my-adeler-entrepreneur/&title=&summary=&source=" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn" href="/contact">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div> 
        </div>
    </div> <!--./ROW-->
</div> <!--./CONTAINER-->
{{> liteCard }}