{{> header}}
<!-----------------------CENTER--------------------------------->

            <div class="container block_center">
                <div class="row">

                    <div class="col-md-6 col-lg-4 d-none d-md-block hero_min">
                       
                        <div class="card">
                            <div class="poster">
                                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629088/Portfolio%20Adflix/poster18.jpg" alt="alien affiche">
                            </div>
                            <div class="adflix">
                                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="adlfix original">
                            </div>
                            <div class="details">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629215/Portfolio%20Adflix/profil.png" alt="titre design">
                                    <h2><span>Directed by Adeler Jérémy</span></h2>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <span>4/5</span>
                                    </div>
                                    
                                    <div class="tags">
                                        <span class="fantasy">{{content.en.tag1}}</span>
                                        <span class="romance">{{content.en.tag2}}</span>
                                    </div>
                                   
                                <div class="info">
                                   
                                </div>
                            </div>
                        </div>
                    </div>

<!----------------------------INFO------------------------------------->

                    <div class="col-12 col-md-6 col-lg-8 info">
                        <div class="d-md-none">
                            <h3>{{content.en.title}}</h3>
                            <h4>Directed by Adeler Jérémy</h4>               
                            <p><span class="date">1992 </span> <span class="saison pl-4">{{content.en.seasons}}</span></p>
                        </div>

                        <h3>{{content.en.title2}}</h3>
                        <p>{{content.en.presentation.textPresentation}}</p>
                        <h4 class="title_h4_spe">{{content.en.advantage.titleAdvantage}}</h4>
                        <p>{{content.en.advantage.textAdvantage}}</p>
                        <h4 class="title_h4_spe">{{content.en.passions.titlePassions}}</h4>
                        <ul>
                            <li>{{content.en.passions.textPassions1}}</li>
                            <li>{{content.en.passions.textPassions2}}</li>
                            <li>{{content.en.passions.textPassions3}}</li>
                            <li>{{content.en.passions.textPassions4}}</li>
                        </ul>
                        <div class="d-md-none d-lg-block block_3_icons pl-5 pl-md-2 pl-lg-4 pt-lg-5">             

                                <div class="middle pt-page-moveFromRight pt-page-delay200">
                                    <a class="btn" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//adelerjeremy.herokuapp.com" target="_blank">
                                      <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn" href="https://twitter.com/home?status=https%3A//adelerjeremy.herokuapp.com" target="_blank">
                                      <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="btn" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/in/j%25C3%25A9r%25C3%25A9my-adeler-entrepreneur/&title=&summary=&source=" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a class="btn" href="/contact">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                  </div>
                            </div> 
                        </div>
                    <div class="col-12">
                    <div class="d-none d-md-block  d-lg-none block_md_3_icons pl-5 pt-md-4 pl-md-2 pl-lg-4">             
                        <div class="middle pt-page-moveFromRight pt-page-delay200">
                            <a class="btn" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//adelerjeremy.herokuapp.com" target="_blank">
                              <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn" href="https://twitter.com/home?status=https%3A//adelerjeremy.herokuapp.com" target="_blank">
                              <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/in/j%25C3%25A9r%25C3%25A9my-adeler-entrepreneur/&title=&summary=&source=" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="btn" href="/contact">
                                <i class="fas fa-envelope"></i>
                            </a>
                          </div>
                        </div> 
                    </div>
                </div> <!--./ROW-->
            </div> <!--./CONTAINER-->
            {{> liteCard}}

 